/R30_MiWiLowPowerProj/.vs/
/R30_MiWiLowPowerProj/R30_MiWiLowPowerProj/Debug/
/R30_MiWiLowPowerProj/R30_MiWiLowPowerProj/*.pdf
/R30_MiWiLowPowerProj/R30_MiWiLowPowerEdgeNode/Debug/
/R30_MiWiLowPowerProj/R30_MiWiLowPowerEdgeNode/*.pdf
/R30_MiWiLowPowerProj/R30_MiWiCoordinator/Debug/
/R30_MiWiLowPowerProj/R30_MiWiCoordinator/*.pdf
/Ignore_Directory/
